
    <!-- END OF NAVBAR -->
{%extends 'base.htm'%}
{%block content%}
<div id="home">

</div>

<div id="about">
  <!-- JUMBOTRON -->
  <div class="jumbotron" id="jumbo">
    <h1 class="display-4">About Our Website</h1>
    <p class="lead" style="font-size: 170%;">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p style="font-size: 140%;">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
  <!-- JUMBOTRON ENDED -->
</div>
{%endblock%}
